@font-face {  
    font-family: "BNazanin";  
    src: url(/fonts/BNazanin.ttf); 
}
@font-face {  
    font-family: "BZiba";  
    src: url(/fonts/BZiba.ttf);
}
@font-face {  
    font-family: "BBadr";  
    src: url(/fonts/BBadr.ttf);
}
@font-face {  
    font-family: "BBardia";  
    src: url(/fonts/BBardia.ttf);
}
@font-face {  
    font-family: "BCompset";  
    src: url(/fonts/BCompset.ttf);
}
@font-face {  
    font-family: "BElham";  
    src: url(/fonts/BElham.ttf);
}
@font-face {  
    font-family: "BFarnaz";  
    src: url(/fonts/BFarnaz.ttf);
}
@font-face {  
    font-family: "BHamid";  
    src: url(/fonts/BHamid.ttf);
}
@font-face {  
    font-family: "BFerdosi";  
    src: url(/fonts/BFerdosi.ttf);
}
@font-face {  
    font-family: "BHelal";  
    src: url(/fonts/BHelal.ttf);
}
@font-face {  
    font-family: "BHoma";  
    src: url(/fonts/BHoma.ttf);
}
@font-face {  
    font-family: "BKoodakBold";  
    src: url(/fonts/BKoodakBold.ttf);
}
@font-face {  
    font-family: "BMahsa";  
    src: url(/fonts/BMahsa.ttf);
}
@font-face {  
    font-family: "BMehrBold";  
    src: url(/fonts/BMehrBold.ttf);
}
@font-face {  
    font-family: "BMitra";  
    src: url(/fonts/BMitra.ttf);
}
@font-face {  
    font-family: "BMorvarid";  
    src: url(/fonts/BMorvarid.ttf);
}
@font-face {  
    font-family: "BTabassom";  
    src: url(/fonts/BTabassom.ttf);
}
@font-face {  
    font-family: "BTitrBold";  
    src: url(/fonts/BTitrBold.ttf);
}
@font-face {  
    font-family: "BTraffic";  
    src: url(/fonts/BTraffic.ttf);
}
@font-face {  
    font-family: "BYas";  
    src: url(/fonts/BYas.ttf);
}
@font-face {  
    font-family: "BYekan";  
    src: url(/fonts/BYekan.ttf);
}
@font-face {  
    font-family: "BZar";  
    src: url(/fonts/BZar.ttf);
}
@font-face {  
    font-family: "irsans";  
    src: url(/fonts/irsans.ttf);
}
@font-face {  
    font-family: "BShiraz";  
    src: url(/fonts/BShiraz.ttf);
}
@font-face {  
    font-family: "BJalal";  
    src: url(/fonts/BJalal.ttf);
}
@font-face {  
    font-family: "BNasimBold";  
    src: url(/fonts/BNasimBold.ttf);
}
@font-face {  
    font-family: "BNarm";  
    src: url(/fonts/BNarm.ttf);
}
@font-face {  
    font-family: "BRoya";  
    src: url(/fonts/BRoya.ttf);
}